/* common */

body {
margin: 0;
font-family: sans-serif, Arial, Helvetica;
color: #555555;
}

h1,
h2 {
margin: 0;
font-weight: normal;
}

p {
margin: 0;
}

img {
vertical-align: bottom;
}

.container {
margin: 0 16px;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

a{
text-decoration: none;
color: inherit;
transition: opacity .3s;
}

a:hover {
opacity: .5;
}

/* header */
header {
padding: 8px 0;
}

header .container {
display: flex;
justify-content: space-between;
align-items: center;
}

header nav div i {
font-size: 24px;
}

/* ハンバーガーアイコン */

.sp-menu #open {
  font-size: 32px;
  cursor: pointer;
}

.hamburger {
  display:flex;
  flex-flow: column;
  align-items: flex-start;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  flex-flow: column;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.pc-menu {
  display: none;
}



/* hero */

.hero img {
width: 100%;
object-fit: cover;
}

/* products */

.products {
padding: 80px 0;
}

.products ul {
margin-top: 32px;
display: flex;
flex-wrap: wrap;
gap: 16px;
}

.products li {
width: calc((100% - 16px) / 2);
}

.products li img {
width: 100%;
}

.products li h2 {
font-size: 16px;
margin-top: 8px;
}

.products li a {
display: block;
}

.products .more {
display: block;
width: 70%;
line-height: 48px;
border: solid 2px;
text-align: center;
margin: 32px auto 0;
}

/* footer */
footer {
background: #C1B399;
padding: 16px 0;
color: white;
}

footer .container {
display: flex;
justify-content: space-between;
align-items: center;
}

footer small {
font-style: 16px;
}

footer li i {
font-size: 24px;
}

footer ul {
display: flex;
}

footer li + li {
margin-left: 8px;
}

/* medium screen */
@media (min-width:600px) {
.products li {
width: calc((100% - 32px) / 3);
}
}

/* large screen */
@media (min-width:800px) {
.container {
width: calc(100%-32px);
margin: 0 auto;
max-width: 800px;
}
header form {
display: block;
}
}



